body {
	line-height: 1.4em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: medium;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

#guarantee {
	background-color: #a7cece;
	background-image: none;
	border-color: 1px dashed white;
	color: #444444;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 1.8em;
	padding: 25px;
	margin: 30px;
	/*
	background-position: top left;
	background-repeat: no-repeat;
	margin-right: 250px;
	padding-left: 80px;
	*/
}
