body {
	line-height: 1.4em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: medium;
}

h1, h2 { color: #007e7e; }
			
h1 { font-size: 150%; }

h2 { font-size: 130%; }

#guarantee {
	background-color: #a7cece;
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	border: 1px dashed white;
	border-radius: 10px;
	color: #444444;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 1.8em;
	margin: 30px 280px 30px 30px;
	padding: 25px 25px 25px 80px;
}

#directions:link { color: #007e7e; }

#directions:visited { color: #333333; }

#elixirs {
	background-image: url(images/cocktail.gif);
	background-repeat: repeat-x;
	border: medium solid #007e7e;
	float: right;
	line-height: 1em;
	margin-left: 20px;
	padding: 0px 20px 20px 20px;
	text-align: center;
	width: 200px;
}

#elixirs h2 {
	color: black;
}

#elixirs h3 {
	color: #d12c47;
}

#elixirs a:link { color: #007e7e; }

#elixirs a:visited { color: #333333; }

#elixirs a:hover {
	background: #f88396;
	color: #0d5353; }

#footer {
	font-size: 80%;
	line-height: normal;
	padding-top: 30px;
	text-align: center;
}

.cd { font-style: italic; }

.artist { font-weight: bold; }

.greentea { color: green; }

.raspberry { color: blue; }

.blueberry { color: purple; }

.cranberry { color: red; }

